@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f3f6;
    font-family: 'Roboto', sans-serif;
}

/* hover navbar dropdown arrow */
.arrow_down {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
}
/* hover navbar dropdown arrow */

/* login signup sidebar bg image */
.loginSidebar {
    background-image: url("https://images.unsplash.com/photo-1523275335684-37898b6baf30?w=400&h=600&fit=crop&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* login signup sidebar bg image */